body{
    background-color: #000;
}

input{
    height: 15px;
    width: 240px;
    padding: 8px;
    font-size: 1.2rem;
    margin: 15px 70px;
    border-radius: 5px;
}

input[type=number]:focus{
    outline: none;
    box-shadow: 0 0 10px #3b59ee;
    border: 1px solid #74d0ff;
}

button{
    width: 50px;
    background-color: #007afe;
    border: none;
    color: #fff;
    padding: 15px  32px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #0069d9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container{
    width: 600px;
    height: 800px;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 40px;
    border-radius: 4px;
}

.calc{
    width: 300px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.history{   
    width: 300px;
    height: 400px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}