body{
    background-color: #000;
}

input{
    height: 15px;
    width: 280px;
    padding: 8px;
    font-size: 1.2rem;
    text-align: right;
    margin: 15px 70px;
    border-radius: 5px;
}

input[type=number]:focus{
    outline: none;
    box-shadow: 0 0 10px #3b59ee;
    border: 1px solid #74d0ff;
}

button{
    background-color: #007afe;
    border: none;
    color: #fff;
    padding: 15px  32px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #0069d9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container{
    width: 900px;
    height: 500px;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 40px;
    border-radius: 4px;
}

.calc{
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.history{   
    width: 400px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.historyTitle{
    display: flex;
    justify-content: center;
}

.historyList{
    text-align: right;
    padding: 20px;
}
